<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SuperLauncherMessages" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	
	<!-- 自定义配置节：SuperLauncherMessages -->
	<SuperLauncherMessages>
		<add key="Version" value="SuperLauncher v1.3" />
		<add key="CmdTips" value="Usage:[-options] [options]
       SuperLauncher> [-h|--help] [-v|--version]
       SuperLauncher> [-s|--start] &lt;GenshinImpact&gt;
Params:
  -s, --start     &lt;name&gt;    start the specified application
   |
   |_ name(case-insensitive)={Ark|Arknights|MRFZ|MAA|GI|GenshinImpact|Genshin|
                           YS|SR|StarRail|XT|All|Cyberpunk2077|Cyberpunk|2077}
							  
  -u, --update    &lt;name&gt;    get the latest version by official launcher
  -n, --name                show entire list of application names
  -l, --link      &lt;url&gt;     visit the target url by default browser 
  -v, --version             show version information
  -c, --changelog           show full changelog
  -h, --help                show this message
  -q, --quit                exit
" />
		
		<add key="CommandPrompt" value="SuperLauncher> " />
		<add key="InvalidCommandMessage" value="[Error] Invalid Command.
" />
		<add key="NotProvideAppNameMessage" value="[Error] The Application Name Is Needed.Enter -h To See The Tips.
" />
		<add key="NotProvideURLMessage" value="[Error] The URL Is Needed.Enter -h To See The Tips.
" />
		<add key="AppNotFoundMessage" value="[Error] Application Not Found.
" />
		<add key="WebSiteNotFoundMessage" value="[Error] WebSite Not Found.
" />
		<add key="NameList" value="Application Names:
  ark|arknights|mrfz|明日方舟       ==> Arknights
  gi|genshinimpact|genshin|ys|原神  ==> Genshin Impact
  sr|star|starrail|xt|星铁|星穹铁道 ==> Honkai: Star Rail
  cyberpunk2077|cyberpunk|2077 	    ==> Cyberpunk2077
  meoasstgui|maa|牛牛       	    ==> MaaAssistantArknights
  chatgpt|gpt|ai        	    ==> ChatGPT Desktop
  tim|qq                	    ==> TIM
  wechat|wx|微信         	    ==> WeChat
  "/>
		<add key="WelcomeMessage" value="   _____                          __                           __
  / ___/__  ______  ___  _____   / /   ____ ___  ______  _____/ /_  ___  _____
  \__ \/ / / / __ \/ _ \/ ___/  / /   / __ `/ / / / __ \/ ___/ __ \/ _ \/ ___/
 ___/ / /_/ / /_/ /  __/ /     / /___/ /_/ / /_/ / / / / /__/ / / /  __/ /
/____/\__,_/ .___/\___/_/     /_____/\__,_/\__,_/_/ /_/\___/_/ /_/\___/_/
          /_/

                                                           Developer:YoRHa_CHQ
                                                           CreateTime:2023/8/2
                                                           UpdateTime:2025/3/16" />
		<add key="GoodByeMessage" value="
██████╗ ██╗   ██╗███████╗    ██████╗ ██╗   ██╗███████╗
██╔══██╗╚██╗ ██╔╝██╔════╝    ██╔══██╗╚██╗ ██╔╝██╔════╝
██████╔╝ ╚████╔╝ █████╗      ██████╔╝ ╚████╔╝ █████╗  
██╔══██╗  ╚██╔╝  ██╔══╝      ██╔══██╗  ╚██╔╝  ██╔══╝  
██████╔╝   ██║   ███████╗    ██████╔╝   ██║   ███████╗
╚═════╝    ╚═╝   ╚══════╝    ╚═════╝    ╚═╝   ╚══════╝
                                                      
See you next time.Have a nive day! :)
" />
	</SuperLauncherMessages>
	
	<appSettings>
		<add key="ExitAfterCountDown" value="true"/>
		<add key="BlueStacksPath" value="C:\Program Files\BlueStacks_nxt_cn\"/>
		<add key="MuMuPath" value="D:\Software\MuMu\MuMu Player 12\shell\MuMuPlayer.exe"/>
		<add key="GenshinImpactPath" value="D:\Software\Genshin Impact\Genshin Impact Game\YuanShen.exe"/>
		<add key="GenshinImpactLauncherPath" value="D:\Software\Genshin Impact\launcher.exe"/>
		<add key="StarRailPath" value="E:\Games\Star Rail\Game\StarRail.exe"/>
		<add key="StarRailLauncherPath" value="E:\Games\Star Rail\launcher.exe"/>
		<!--注意MAA路径与版本号相关-->
		<add key="MAAPath" value="D:\Software\MAA\MAA-v4.28.4-win-x64\MAA.exe"/>
		<add key="Cyberpunk2077Path" value="E:\Games\Cyberpunk2077\bin\x64\Cyberpunk2077.exe"/>
		<add key="ChatGPTPath" value="D:\Software\ChatGPT Desktop\ChatGPT.exe"/>
		<add key="TIMPath" value="D:\Software\TIM\Bin\QQScLauncher.exe"/>
		<add key="WeChatPath" value="D:\Software\WeChat\WeChat.exe"/>
	</appSettings>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>